<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMQLSanCauLong.Properties.Settings.DBSanCauLongConnectionString" connectionString="Data Source=DESKTOP-1HNEIAT\SQLEXPRESS;Initial Catalog=DBSanCauLong;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
